.reservationsList {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 76%;
  overflow: auto;
  overflow-x: hidden;
  padding-right:15px;
}


.reservationsList::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
  height: 2px; /* Height of the horizontal scrollbar */
}

.reservationsList::-webkit-scrollbar-track {
  background: #fafafa; /* Light grey background */
  border-radius: 10px;
}

.reservationsList::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* Slightly darker grey for the thumb */
  border-radius: 10px;
}

.reservationsList::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Darker grey on hover */
}