

.searchBar{
    height: 42px;
    width: 300px;
    box-shadow: 0px 4px 4px 0px rgba(33,33,33,0.25);
    background-color: #f9f9f991;
    border: none;
    border-radius:  12px;
    font-size: 16px;

}