.home {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f7f9f5;
}
.wrapper {
  height: 90%;
  width: 60%;
}
.homeMain {
  width: 80vw;
  height: 100vh;
  padding: 30px;
}

.buttonsWrapper {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  gap: 20px;
}
.btn {
  border-radius: 25px;
  border: none;
  background-color: rgb(229, 219, 36);
  padding: 15px;
  font-size: 20px;
}
.closeButtonWrapper {
  display: flex;
  justify-content: end;
  margin: 10px;
}
