@import "/src//main.scss";

.container {
  width: 80vw;
  border-radius: 10px;
  padding: 10px;

  @media #{$maxTablet} {
    height: 95%;
  }
}

.settingsModal {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  padding-left: 10px;
}

.header {
  background-color: #fa6b6b;
}

.settingsModal > header {
  grid-column: span 2; /* Span the header across both columns */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingsModal > main {
  display: contents; /* Use 'contents' to inherit the grid layout of the parent */
}

.timeSlots {
  display: flex;
  justify-content: center;
  height: fit-content;
  @media #{$maxTablet} {
    grid-column: span 2; /* Span the header across both columns */
  }
}

.emailSettings {
  display: flex;
  justify-content: center;
  height: 100%;
  @media #{$maxTablet} {
    grid-column: span 2; /* Span the header across both columns */
  }
}

.settingsModal > footer {
  margin-right: 20px;
  grid-column: span 2; /* Span the footer across both columns */
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden; /* Prevent content from overflowing */
  max-width: 100%; /* Ensure content does not exceed container's width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.button {
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
}

.accept {
  background-color: #5dd253;
}

.cancel {
  background-color: #fa6b6b;
  margin-right: 15px;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
}

.footerButtons {
  margin: 20px;
}
