.timeSlots {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color:#f9f9f991;
  margin-left: 14px;
  
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.titleWithBackAction {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timeSlot {
  width: 100%;
  display: flex;
  gap: 10px;
}

.timeSlotText {
  font-weight: 600;
  align-self: center;
}

.checkbox {
  transform: scale(1.8);
}
