.timeSlots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-left: 13px;
}


.timeSlot {
  width: 100%;
  display: flex;
  gap: 12px;
  margin: 3px;
}

.timeSlotText {
  font-weight: 600;
  align-self: center;
}

/* .checkbox {
  transform: scale(1.8);
} */
