.header {
  margin: 10px 10px;
}

.timeslotsContainer {
  display: flex;
  width: 95%;
  flex-direction: column;
  padding: 10px;
  background-color: white;

  border-radius: 18px;
  font-size: 16px;
  box-shadow: -2px 2px 7px 0px rgba(33, 33, 33, 0.25);
  border: 1px solid rgba(128, 128, 128, 0.151);
}

.timeSlotsMain {
  margin: 5 5px;
  overflow: scroll;
}

.title {
  font-size: 25px;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  // flex: 1;
}

.action {
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;

  &Accept {
    background-color: #aeaeae;
  }
}
